<div ng-controller="detail">

	<h1 translate="DETAIL_PRODUCT"> detail produktu</h1>

	<div class="row">
	 	<div class="col-md-8" translate="TABLE_NAME"> nazov  </div>
	 	<div class="col-md-2" translate="TABLE_PRICE"> cena </div>
	 	<div class="col-md-2" translate="TABLE_AMOUNT"> mnozstvo  </div>

 		<div class="col-md-8"> {{ product.name }}  </div>
 		<div class="col-md-2"> {{ product.price }} </div>
 		<div class="col-md-2"> {{ product.size }}  </div>
 	</div>

	<div class="row">
 		<div class="col-md-12" translate="TABLE_DESCRIPTION"> </div>
 		<div class="col-md-12"> {{ product.description }}  </div>
 	</div>
 	
 	<div class="row" ng-repeat="p in product.photos">
 		<!--img class="col-md-12" src="{{ p.blob }}" /-->
 		<span class="col-md-12">{{ p.blob }}</span>
 	</div>

 	<button ng-click="backToList()" translate="BACK"></button>

</div>