<div ng-controller="list">
	
	<h2>{{ title | translate }}</h2>

	<h3>{{ message | translate }}</h3>

	<div class="row">
		<div class="col-md-2" translate="TABLE_CODE"> kod  </div>
	 	<div class="col-md-4" translate="TABLE_NAME"> nazov  </div>
	 	<div class="col-md-2" translate="TABLE_PRICE"> cena </div>
	 	<div class="col-md-2" translate="TABLE_AMOUNT"> mnozstvo  </div>
	 	<div class="col-md-2"> </div>
 	</div>

	<div class="row" ng-repeat="p in products">
 		<div class="col-md-2" ng-click="showDetail(p.id)"> {{ p.id }}  </div>
 		<div class="col-md-4" ng-click="showDetail(p.id)"> {{ p.name }}  </div>
 		<div class="col-md-2" ng-click="showDetail(p.id)"> {{ p.price }} </div>
 		<div class="col-md-2" ng-click="showDetail(p.id)"> {{ p.size }}  </div>
 		<div class="col-md-2">
 			<button ng-click="addToCart(p.id, p.name)"> + </button>
 			<button ng-click="removeFromCart(p.id)"> - </button>
 			<span>{{ items[p.id][0] | default:0 }}</span>
 		</div>
 	</div>

 	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-2">
			<button ng-click="cleanOrder()" translate="CLEAN_BASKET"></button>
		</div>
	 	<div class="col-md-2">
	 		<button ng-click="showOrder()" ng-show="!isOrder" translate="ORDER_FORM"></button>
	 	</div>
 	</div>

 	<div class="row" ng-show="isOrder">

 		<div id="list_products" ng-repeat="s in shoppinglist track by $index">
	 		<div class="col-md-offset-6 col-md-3">
				{{ shoppinglist[$index].name }}
	 		</div>
	 		<div class="col-md-3">
				{{ shoppinglist[$index].amount }}
	 		</div>
 		</div>
 		<div class="col-md-offset-6 col-md-3"><b translate="SUM_PRICE"></b></div>
 		<div class="col-md-3"><b>{{ sum_price }}</b></div>

 		<form name="orderForm" ng-submit="sendOrder(orderForm)">
 		<input type="hidden" name="event" ng-model="event" value="{{ event }}"/>
		<div class="col-md-offset-6 col-md-6">
			<input type="text" name="name" ng-model="name" placeholder="{{ 'ORDER_FORM_FIRST_LAST_NAME_PLACEHOLDER'| translate}}" ng-minlength="3" ng-maxlength="50" size="50" required>
			<p ng-show="orderForm.name.$invalid && !orderForm.name.$pristine" class="help-block" translate="REQUIRED_ITEM"></p>
		</div>
		<div class="col-md-offset-6 col-md-6">
			<input type="text" name="contact_detail" ng-model="contact_detail" placeholder="{{ 'ORDER_FORM_CONTACT_PLACEHOLDER'| translate}}" ng-minlength="3" ng-maxlength="256" size="50" required>
			<p ng-show="orderForm.contact_detail.$invalid && !orderForm.contact_detail.$pristine" class="help-block" translate="REQUIRED_ITEM"></p>
		</div>
	 	<div class="col-md-offset-6 col-md-6">
	 		<input type="text" name="phone" ng-model="phone" placeholder="{{ 'ORDER_FORM_PHONE_PLACEHOLDER'| translate}}" ng-minlength="10" ng-maxlength="32" size="50" required>
	 		<p ng-show="orderForm.phone.$invalid && !orderForm.phone.$pristine" class="help-block" translate="REQUIRED_ITEM"></p>
	 	</div>
	 	<div class="col-md-offset-6 col-md-6">
	 		<input type="email" name="email" ng-model="email" placeholder="{{ 'ORDER_FORM_EMAIL_PLACEHOLDER'| translate}}" ng-minlength="0" ng-maxlength="50" size="50">
	 	</div>
	 	<div class="col-md-offset-10 col-md-2">
	 		<button type="submit" ng-disabled="orderForm.$invalid" translate="SEND_ORDER"></button>
	 	</div>
	 	</form>
 	</div>
</div>