<div ng-controller="list">

	<h2>{{ title }}</h2>

	<h3>{{ message }}</h3>

	<div class="row">
		<div class="col-md-2"> kod  </div>
	 	<div class="col-md-4"> nazov  </div>
	 	<div class="col-md-2"> cena </div>
	 	<div class="col-md-2"> mnozstvo  </div>
	 	<div class="col-md-2"> </div>
 	</div>

	<div class="row" ng-repeat="p in products">
 		<div class="col-md-2" ng-click="showDetail(p.id)"> {{ p.id }}  </div>
 		<div class="col-md-4" ng-click="showDetail(p.id)"> {{ p.name }}  </div>
 		<div class="col-md-2" ng-click="showDetail(p.id)"> {{ p.price }} </div>
 		<div class="col-md-2" ng-click="showDetail(p.id)"> {{ p.size }}  </div>
 		<div class="col-md-2">
 			<button ng-click="addToCart(p.id, p.name)"> pridat</button>
 			<button ng-click="removeFromCart(p.id)">vymazat</button>
 			<span>{{ items[p.id][0] | default:0 }}</span>
 		</div>
 	</div>

 	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-2"><button ng-click="cleanOrder()">vymazat kosik</button></div>
	 	<div class="col-md-2"><button ng-click="showOrder()" ng-show="!isOrder">objednat</button></div>
 	</div>

 	<div class="row" ng-show="isOrder">

 		<div id="list_products" ng-repeat="s in shoppinglist track by $index">
	 		<div class="col-md-offset-6 col-md-3">
				{{ shoppinglist[$index].name }}
	 		</div>
	 		<div class="col-md-3">
				{{ shoppinglist[$index].amount }}
	 		</div>
 		</div>

 		<form name="orderForm" ng-submit="sendOrder(orderForm)">
 		<input type="hidden" name="event" ng-model="event" value="{{ event }}"/>
		<div class="col-md-offset-6 col-md-6">
			<input type="text" name="name" ng-model="name" placeholder="meno a priezvisko*" ng-minlength="3" ng-maxlength="50" size="50" required>
			<p ng-show="orderForm.name.$invalid && !orderForm.name.$pristine" class="help-block">You name is required.</p>
		</div>
		<div class="col-md-offset-6 col-md-6">
			<input type="text" name="contact_detail" ng-model="contact_detail" placeholder="contact_detail*" ng-minlength="3" ng-maxlength="256" size="50" required>
			<p ng-show="orderForm.contact_detail.$invalid && !orderForm.contact_detail.$pristine" class="help-block">You contact detail is required.</p>
		</div>
	 	<div class="col-md-offset-6 col-md-6">
	 		<input type="text" name="phone" ng-model="phone" placeholder="telefonny kontakt*" ng-minlength="10" ng-maxlength="32" size="50" required>
	 		<p ng-show="orderForm.phone.$invalid && !orderForm.phone.$pristine" class="help-block">You mobile is required.</p>
	 	</div>
	 	<div class="col-md-offset-6 col-md-6">
	 		<input type="email" name="email" ng-model="email" placeholder="emailovy kontakt" ng-minlength="0" ng-maxlength="50" size="50">
	 	</div>
	 	<div class="col-md-offset-10 col-md-2">
	 		<button type="submit" ng-disabled="orderForm.$invalid">Ulozit objednavku</button>
	 	</div>
	 	</form>
 	</div>
</div>