language: python
python:
  - "2.7"
  - "3.5"
# command to install dependencies
install: 
  - "pip install -r requirements.txt"
addons:
  artifacts: true
# command to run tests
script: 
  - "pwd"
  - "ls"
#  - "python ./winecart/src/manage.py test inventory.tests"

