<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body ng-app="app">


<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" translate="LOGO"></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/cart"><i class="fa fa-home"></i><span translate="WINE_CART"></span></a></li>
            <li><a href="#/event"><i class="fa fa-shield"></i><span translate="EVENT_CART"></span></a></li>
            <li><button ng-click="changeLanguage('en')">en</button></li>
            <li><button ng-click="changeLanguage('sk')">sk</button></li>
        </ul>
    </div>
    </nav>
</header>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">

	<div ng-view></div>	

</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-translate/angular-translate.js"></script>
<script src="app.js"></script>
<script src="js/list.js"></script>
<script src="js/detail.js"></script>

</body>
</html>