<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inventura produktov">
    <meta name="author" content="TP SOFT, s.r.o.">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatables.net-dt/css/jquery.dataTables.min.css' %}">

    <script type="text/javascript" charset="utf8" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>

    <!-- initial javascript components -->
    {% get_current_language as LANGUAGE_CODE %}
    <script type="text/javascript" charset="utf-8">
        function setLanguageCorpus(lg){
            var url = "//cdn.datatables.net/plug-ins/1.10.12/i18n/English.json";
            if (lg =='sk')
                url = "//cdn.datatables.net/plug-ins/1.10.12/i18n/Slovak.json";
            return { "language": { "url": url } }
        }
    </script>

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {
            var x = "{{ LANGUAGE_CODE }}";
            var productTable = $('#products').DataTable(setLanguageCorpus(x));
            $('#events').DataTable(setLanguageCorpus(x));
            $('#groups').DataTable(setLanguageCorpus(x));
            $('#orders').DataTable(setLanguageCorpus(x));
            $('.dropdown-toggle').dropdown();

            // Event listener to the two range filtering inputs to redraw on input
            $('#amount_filter').keyup( function() {
                productTable.draw();
            } );

        } );

          /* Custom filtering function */
        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                if ( settings.nTable.id == 'products') {
                    var min = parseInt($('#amount_filter').val(), 10);
                    var amount = parseFloat(data[5]); // use data for the age column

                    if (amount > min)
                        return true;

                    return false;
                }
                return true;
            }
        );


    </script>
    
    <title>{% trans "title_inventory" %}</title>
</head>

<body>
