<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inventura produktov">
    <meta name="author" content="TP SOFT, s.r.o.">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables.net-dt/css/jquery.dataTables.min.css' %}">

    <script type="text/javascript" charset="utf8" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>

    <!-- initial javascript components -->
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#products').DataTable();
            $('.dropdown-toggle').dropdown();
        } );
    </script>
    <title>{% trans "title_inventory" %}</title>
</head>

<body>
