{% include "header.html" %}
{% load i18n %}


<div class="container">

    {% include "menu.html" %}

    <div style="margin-top:60px">
    {% block content %}

    {% endblock %}
    </div>

    {% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}

</div>

<script src="../../cart/bower_components/angular/angular.min.js"></script>
<script src="../../cart/bower_components/angular-route/angular-route.js"></script>
<script src="../../cart/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../../cart/bower_components/angular-translate/angular-translate.js"></script>


{% include "footer.html" %}