{% block menu %}
{% load i18n %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

       <h3 class="navbar-text"><span class="label label-success">{% trans "inventory" %}</span></h3>

        <ul class="nav navbar-nav collapse navbar-collapse">

           <li class="dropdown">
            <a id="m-product" class="dropdown-toggle" aria-expanded="false" role="button" aria-haspopup="true" aria-expanded="false"
               href="#">{% trans "product_managment" %}<span class="caret"></span></a>
               <ul class="dropdown-menu" aria-labelledby="m-product">
                   <li><a href="{% url 'list_products' %}">{% trans "product_list" %}</a></li>
                   <li><a href="{% url 'create_product' %}">{% trans "create_product" %}</a>
                   <li role="separator" class="divider"></li>
                   <li><a href="{% url 'import_products' %}">{% trans "import_product" %}</a>
               </ul>
           </li>

       </ul>


        <ul class="nav navbar-nav collapse navbar-collapse">

           <li class="dropdown">
            <a id="m-group" class="dropdown-toggle" aria-expanded="false" role="button" aria-haspopup="true" aria-expanded="false"
               href="#">{% trans "group_managment" %}<span class="caret"></span></a>
               <ul class="dropdown-menu" aria-labelledby="m-group">
                   <li><a href="{% url 'list_groups' %}">{% trans "group_list" %}</a></li>
                   <li><a href="{% url 'create_group' %}">{% trans "create_group" %}</a>
               </ul>
           </li>

       </ul>

       <ul class="nav navbar-nav collapse navbar-collapse">

           <li class="dropdown">
            <a id="m-event" class="dropdown-toggle" aria-expanded="false" role="button" aria-haspopup="true" aria-expanded="false"
               href="#">{% trans "event_managment" %}<span class="caret"></span></a>
               <ul class="dropdown-menu" aria-labelledby="e-event">
                   <li><a href="">{% trans "event_list" %}</a></li>
                   <li><a href="">{% trans "create_event" %}</a>
               </ul>
           </li>

       </ul>

       <ul class="nav navbar-nav">
            <li class="dropdown">
            <a id="m-order" class="dropdown-toggle" aria-expanded="false" role="button" aria-haspopup="true" aria-expanded="false"
               href="#">{% trans "order_managment" %}<span class="caret"></span></a>
               <ul class="dropdown-menu" aria-labelledby="e-order">
                   <li><a href="{% url 'list_orders' %}">{% trans "order_list" %}</a></li>
                   <li><a href="{% url 'create_order' %}">{% trans "create_order" %}</a>
               </ul>
           </li>
       </ul>

    </div>

    <ul class="nav navbar-nav navbar-right">
       <li><a class="navbar-band navbar-right" href="{% url 'language' %}">{% trans "language" %}</a></li>
    </ul>
  </div>
</nav>
{% endblock %}