{% block menu %}
{% load i18n %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

        <ul class="nav navbar-nav collapse navbar-collapse">

            <li class="dropdown">
               <!--a id="m-product" class="dropdown-toggle" aria-expanded="false" role="button" aria-haspopup="true" aria-expanded="false"
               href="#">{% trans "product_managment" %}<span class="caret"></span></a>
               <ul class="dropdown-menu" aria-labelledby="m-product">

                   <li role="separator" class="divider"></li>
                   <li><a href="{% url 'import_products' %}">{% trans "import_product" %}</a>
               </ul-->
           </li>

           <li class="dropdown">

             <a href="{% url 'list_products' %}">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                {% trans "product_managment" %}
                </button>
            </a>
               <!--a id="m-product" class="dropdown-toggle" aria-expanded="false" role="button" aria-haspopup="true" aria-expanded="false"
               href="#">{% trans "product_managment" %}<span class="caret"></span></a>
               <ul class="dropdown-menu" aria-labelledby="m-product">

                   <li role="separator" class="divider"></li>
                   <li><a href="{% url 'import_products' %}">{% trans "import_product" %}</a>
               </ul-->
           </li>

       </ul>


        <ul class="nav navbar-nav collapse navbar-collapse">

           <li class="dropdown">

                <a href="{% url 'list_groups' %}">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    {% trans "group_managment" %}
                    </button>
                </a>

           </li>

       </ul>

       <ul class="nav navbar-nav collapse navbar-collapse">

           <li class="dropdown">

             <a href="{% url 'list_events' %}">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {% trans "event_list" %}
                </button>
             </a>

           </li>

       </ul>

       <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="{% url 'list_orders' %}">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                    {% trans "order_list" %}
                    </button>
                </a>
            </li>
       </ul>

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="{% url 'list_userpreferences' %}">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    {% trans "userpreference" %}
                    </button>
                </a>
            </li>
       </ul>


    </div>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="{% url 'language' %}">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    {% trans "language" %}
                </button>
            </a>
        </li>
        <li class="dropdown">
            {% if user.is_authenticated %}
             <a><button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-user"> {{ user.get_username }}</span >
             </button></a>
            {% endif %}
        </li>
        <li class="dropdown">
            <a href="{% url 'logout' %}">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                {% trans "logout" %}
                </button>
            </a>
        </li>
    </ul>
  </div>
</nav>
{% endblock %}