{% extends "index.html" %}

{% block content %}
{% load i18n %}
{% load inventory_extras %}

<form method="post" action="">
    {% csrf_token %}

    {% for field in form %}
        <div>
            {{ field.label_tag }} <br>
            {{ field }}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-2">
            {% trans "include_in_event" %}
        </div>
        <div class="col-md-6">
           {% trans "product_name" %}
        </div>
        <div class="col-md-4">
            {% trans "product_price" %}
        </div>
    </div>

    {% for product in products %}
        <div class="row">
            <div class="col-md-2">
                <input type="checkbox" name="p_{{ product.id }}" id="p_{{ product.id }}" value="{{ product.id }}" 
                {% if items %}
                    {{  product|is_choosen:items }}
                {% endif %} 
                />
            </div>
            <div class="col-md-6">
                <label for="p_{{ product.id }}">{{ product.name }}</label>
            </div>
            <div class="col-md-4">
                {{ product.price }} €
            </div>
        </div>
    {% endfor %}

    <input type="submit" value="{% trans "save" %}">
</form>

<a href="{% url 'list_events' %}">{% trans "back" %}</a>

{% endblock %}
