{% extends "index.html" %}

{% block content %}
{% load i18n %}
<br/>
<fieldset>
    <legend>
        <div class="row">
            <div class="row">
                <div class="col-md-10">
                    {% trans "event_managment" %} [ {{ object_list.count }} ]
                </div>
                <div class="col-md-2">
                    <a href="{% url 'create_event' %}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% trans "create_event" %}
                        </button>
                 </a>
                </div>
            </div>
        </div>
    </legend>

    <table id="events" class="display">
    <thead>
        <tr>
            <th>{% trans "event_name" %}</th>
            <th>{% trans "event_date_from" %}</th>      
            <th>{% trans "event_date_to" %}</th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for event in object_list %}
        <tr>
            <td> {{ event.name }} </td>
            <td> {{ event.date_from }} </td>
            <td> {{ event.date_to }} </td>
            <td>
               <a href="edit/{{ event.id }}">{% trans "edit" %}</a> |
               <a href="delete/{{ event.id }}">{% trans "delete" %}</a>
            </td>      
        </tr>
        {% endfor %}
    </tbody>
    </table>
</fieldset>

{% endblock %}