{% extends "index.html" %}

{% block content %}
{% load i18n %}

<fieldset>
    <legend>
        <div class="row">
            <div class="col-md-10">
                {% trans "group_managment" %} [ {{ object_list.count }} ]
            </div>
            <div class="col-md-2">
                <a href="{% url 'create_group' %}">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    {% trans "create_group" %}
                    </button>
                </a>
            </div>
        </div>
    </legend>

    <table id="groups" class="display">
    <thead>
        <tr>
            <th class="col-md-10">{% trans "group_name" %}</th>      
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        {% for group in object_list %}
        <tr>
           <td>{{ group.name }}</td>
           <td><a href="edit/{{ group.id }}">{% trans "edit" %}</a> | <a href="delete/{{ group.id }}">{% trans "delete" %}</a></td>      
        </tr>
        {% endfor %}
    </tbody>
    </table>
</fieldset>

{% endblock %}