{% extends "index.html" %}

{% block content %}
{% load i18n %}

<fieldset>
    <legend>{% trans "order_managment" %} [ {{ object_list.count }} ]</legend>

    <table id="orders" class="display">
    <thead>
        <tr>
            <th>{% trans "customer" %}</th>
            <!--th>{% trans "event" %}</th-->      
            <th>{% trans "order_status" %}</th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr>
           <td>{{ order.customer_name }}</td>
           <td> {% if order.done %} 
                    {% trans "completed" %} 
                {% else %}
                    {% trans "not_completed" %} 
                {% endif %} </td>
           <td>
                {% if not order.done %}
                    <a href="edit/{{ order.id }}">{% trans "edit" %}</a> |
                {% endif %}
                    <a href="delete/{{ order.id }}">{% trans "delete" %}</a>
            </td>      
        </tr>
        {% endfor %}
    </tbody>
    </table>
</fieldset>

{% endblock %}