{% extends "index.html" %}

{% block content %}
{% load i18n %}

<div class="row">
   <div class="col-md-6">{{ order.customer_name }}</div> 
   <div class="col-md-4">{{ order.event.name }}</div>
   {% if order.done == False%}
   		<div class="col-md-2">
   			<a href="{% url 'done_order' pk=order.id %}">{% trans "done_order" %}</a>
   		</div> 
   {% else %}
    	<div class="col-md-2">{% trans "order_completed" %}</div> 
   {% endif %}
   
</div>
 	
<div class="row">
	<div class="col-md-6">{% trans "product.name" %}</div> 
	<div class="col-md-6">{% trans "product.amount" %}</div> 
</div>
   
{% for item in order.items.all %}
<div class="row">
    <div class="col-md-6">{{ item.product.name }}</div>
    <div class="col-md-6">{{ item.amount }} €</div>
</div>
{% endfor %}

<a href="{% url 'list_orders' %}">{% trans "back" %}</a>

{% endblock %}