{% extends "index.html" %}

{% block content %}
{% load i18n %}
{% load inventory_extras %}


<fieldset>
    <legend>
        <div class="row">
            <div class="col-md-10">
                {% trans "product_managment" %} <small>[ {{ object_list.count }} ]</small>
            </div>
            <div class="col-md-2">
                <a href="{% url 'create_product' %}">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    {% trans "create_product" %}
                    </button>
                </a>
            </div>
        </div>
    </legend>

    <input id="amount_filter" type="checkbox" value="0"> <label for="amount_filter">{% trans "amount_filter" %}</label>

    <table id="products" class="display">
    <thead>
        <tr>
            <th class="col-md-2">{% trans "active" %}</th>
            <th class="col-md-2">{% trans "code" %}</th>
            <th class="col-md-4">{% trans "name" %}</th>
            <th class="col-md-2">{% trans "price" %}</th>
            <th class="col-md-1">{% trans "size" %}</th>
            <th class="col-md-1">{% trans "amount" %}</th>
            <th class="col-md-2">{% trans "is_wine" %} </th>  <!-- {% trans "is_new" %} -->
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for product in object_list %}
    <tr>
       <td>
           {% if product.active %}
               <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
               <a href="remove/{{ product.id }}">{% trans "remove" %}</a>
           {% else %}
               <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
               <a href="add/{{ product.id }}">{% trans "add" %}</a>
           {% endif %}
       </td>
       <td>{{ product.code }}</td>
       <td>{{ product.name }}</td>
       <td>{{ product.price }}</td>
       <td>{{ product.size }}</td>
       <td>{{ product.amount }}</td>
       <td>
           {% if product.is_wine %}
               <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
           {% endif %}

           {% if product.is_new %}
                <!--span class="glyphicon glyphicon-bell" aria-hidden="true"></span-->
           {% endif %}
       </td>

       <td>
           <a href="edit/{{ product.id }}">{% trans "edit" %}</a> |
           <a href="delete/{{ product.id }}">{% trans "delete" %}</a>
       </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</fieldset>

<script type="text/javascript">
	$('#products')
		.removeClass( 'display' )
		.addClass('table table-striped cell-border table-border compact hover row-border');
</script>
{% endblock %}
