{% extends "index.html" %}

{% block content %}
{% load i18n %}
{% load inventory_extras %}


<fieldset>
    <legend>{% trans "product_managment" %} <small>[ {{ object_list.count }} ]</small></legend>

    <table id="products" class="display">
    <thead>
        <tr>
            <th>{% trans "active" %}</th>
            <th>{% trans "code" %}</th>
            <th>{% trans "name" %}</th>
            <th>{% trans "price" %}</th>
            <th> {% trans "size" %}</th>
            <th>{% trans "is_wine" %}{% trans "is_new" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for product in object_list %}
    <tr>
       <td>
           {% if product.active %}
               <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
               <a href="remove/{{ product.id }}">{% trans "remove" %}</a>
           {% else %}
               <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
               <a href="add/{{ product.id }}">{% trans "add" %}</a>
           {% endif %}
       </td>
       <td>{{ product.code }}</td>
       <td>{{ product.name }}</td>
       <td>{{ product.price }}</td>
       <td>{{ product.size }}</td>
       <td>
           {% if product.is_wine %}
               <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
           {% endif %}

           {% if product.is_new %}
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
           {% endif %}
       </td>

       <td>
           <a href="edit/{{ product.id }}">{% trans "edit" %}</a> |
           <a href="delete/{{ product.id }}">{% trans "delete" %}</a>
       </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</fieldset>

<script type="text/javascript">
	$('#products')
		.removeClass( 'display' )
		.addClass('table table-striped cell-border table-border compact hover row-border');
</script>
{% endblock %}
