{% extends "index.html" %}

{% block content %}
{% load i18n %}


 <script type="text/javascript">
 $(document).ready(function() {

    $('#iframe').load(function(){
        console.log('load the iframe')
        var element = "<div id='"+$('#uuid').val()+"'>";
        $('#photos').append(element);
    });

 /*
       $("#upload2").submit(function(event){
            //$(this).preventDefault();
            $.ajax({
                 url: $(this).attr('action'),
                 type: $(this).attr('method'),
                 data:  $(this).serialize(),
                 enctype: 'multipart/form-data',
                 success: function(){
                     alert('ok');
                     $('.messages').html("<h2>Photo Form Submitted!</h2>");
                 }
            });

            return false;
       });
 */

});
</script>

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2">{% trans "product_code" %}</th>
            <th class="col-md-2"> {% trans "product_origin_name" %}</th>
            <th class="col-md-2"> {% trans "product_name" %}</th>
            <th class="col-md-2"> {% trans "product_price" %}</th>
            <th class="col-md-2"> {% trans "product_size" %}</th>
            <th class="col-md-2"> {% trans "product_import_date" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ product_form.code }}</td>
            <td>{{ product_form.origin_name }}</td>
            <td>{{ product_form.name }}</td>
            <td>{{ product_form.price }}</td>
            <td>{{ product_form.size }}</td>
            <td>{{ product_form.import_date }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2"> {% trans "product_active" %}</th>
            <th class="col-md-4"> {% trans "product_group" %}</th>
            <th class="col-md-6"> {% trans "product_description" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ product_form.active }}</td>
            <td>{{ product_form.group }}</td>
            <td>{{ product_form.description }}</td>
         </tr>
        </tbody>
    </table>

    <input type="file" id="photo_upload" name="photo_upload">

    {% for error in field.errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

    {% trans "is_wine" %} {{ product_form.is_wine }}

    <table class="table">
        <thead>
        <tr>
           <th class="col-md-2">{% trans "wine_color" %}</th>
           <th class="col-md-2">{% trans "wine_year" %}</th>
           <th class="col-md-2">{% trans "wine_attribute" %}</th>
           <th class="col-md-1">{% trans "wine_sugar_residual" %}</th>
           <th class="col-md-1">{% trans "wine_acidity" %}</th>
           <th class="col-md-2">{% trans "wine_locality" %}</th>
           <th class="col-md-2">{% trans "wine_serving" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
           <td>{{ wine_form.color }}</td>
           <td>{{ wine_form.year }}</td>
           <td>{{ wine_form.attribute }}</td>
           <td>{{ wine_form.sugar_residual }}</td>
           <td>{{ wine_form.acidity }}</td>
           <td>{{ wine_form.locality }}</td>
           <td>{{ wine_form.serving }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr>
           <th class="col-md-12">{% trans "wine_awards" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        {% for award in wine.awards.all %}
            <td>{{ award.name }}</td>
            {% if award.photo %}
            <td>{{ award.photo.title }}</td>
            {% endif %}
        {% endfor %}
        <input type="file" id="award_upload" name="award_upload">
        </tr>
        </tbody>
    </table>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}


    {{ product_form.is_new }}

    <input type="submit" value='{% trans "save" %}'>
</form>

 <!-- Upload form. Note enctype attribute! -->
<div id="photos"></div>

<!--img src="{{ product_form.photo.url }}" /-->

<form target="iframe" action="{% url 'upload_photo' %}" method="post" enctype="multipart/form-data" id="upload">
    {% csrf_token %}
    <p>{{ photo_form.non_field_errors }}</p>
    <p>{{ photo_form.title.label_tag }} {{ photo_form.title.help_text }}</p>
    <p>
        {{ photo_form.title.errors }}
        {{ photo_form.title }}
    </p>

    <p>{{ photo_form.non_field_errors }}</p>
    <p>{{ photo_form.blob.label_tag }} {{ photo_form.blob.help_text }}</p>
    <p>
        {{ photo_form.blob.errors }}
        {{ photo_form.blob }}
    </p>
    {{ photo_form.uuid }}
    <p><input type="submit" value="Upload" /></p>
</form>
<iframe name="iframe" id="iframe" style="display:none"></iframe>


<a href="{% url 'list_products' %}">{% trans "back" %}</a>

{% endblock %}