{% extends "index.html" %}

{% block content %}
{% load i18n %}


 <script type="text/javascript">
 $(document).ready(function() {

    $('#iframe').load(function(){
        console.log('load the iframe')
        var element = "<div id='"+$('#uuid').val()+"'>";
        $('#photos').append(element);
    });

 /*
       $("#upload2").submit(function(event){
            //$(this).preventDefault();
            $.ajax({
                 url: $(this).attr('action'),
                 type: $(this).attr('method'),
                 data:  $(this).serialize(),
                 enctype: 'multipart/form-data',
                 success: function(){
                     alert('ok');
                     $('.messages').html("<h2>Photo Form Submitted!</h2>");
                 }
            });

            return false;
       });
 */

});
</script>

<br/>
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group row">
        <label for="{{ product_form.code.id_for_label }}" class="col-sm-2 form-control-label">{% trans "product_code" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ product_form.code.html_name }}" value="{{ product_form.code.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.origin_name.id_for_label }}" class="col-sm-2 form-control-label">{% trans "product_origin_name" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ product_form.origin_name.html_name }}" value="{{ product_form.origin_name.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.name.id_for_label }}" class="col-sm-2 form-control-label">{% trans "product_name" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ product_form.name.html_name }}" value="{{ product_form.name.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.price.id_for_label }}" class="col-sm-2 form-control-label">{% trans "product_price" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ product_form.price.html_name }}" value="{{ product_form.price.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.size.id_for_label }}" class="col-sm-2 form-control-label">{% trans "product_size" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ product_form.size.html_name }}" value="{{ product_form.size.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.amount.id_for_label }}" class="col-sm-2 form-control-label">{% trans "product_amount" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ product_form.amount.html_name }}" value="{{ product_form.amount.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.group.id_for_label }}" class="col-sm-2 form-control-label">{% trans "product_group" %}</label>
        <div class="col-sm-10">

            <select name="{{ product_form.group.html_name }}">
                {% for id, name in product_form.group.field.choices %}
                <option value="{{ id }}">{%  trans name %}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.active.id_for_label }}" class="col-sm-2">{% trans "product_active" %}</label>
        <div class="col-sm-10">
          <div class="checkbox">
            <label>
              {{ product_form.active }}
            </label>
          </div>
        </div>
      </div>

    <div class="form-group row">
        <label for="{{ wine_form.color.id_for_label }}" class="col-sm-2 form-control-label">{% trans "wine_color" %}</label>
        <div class="col-sm-10">
            {{ wine_form.color}}
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ wine_form.year.id_for_label }}" class="col-sm-2 form-control-label">{% trans "wine_year" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ wine_form.year.html_name }}" value="{{ wine_form.year.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.attribute.id_for_label }}" class="col-sm-2 form-control-label">{% trans "wine_attribute" %}</label>
        <div class="col-sm-10">
            {{ wine_form.attribute }}
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ wine_form.sugar_residual.id_for_label }}" class="col-sm-2 form-control-label">{% trans "wine_sugar_residual" %}</label>
        <div class="col-sm-10">
            {{ wine_form.sugar_residual }}
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ wine_form.sugar_content.id_for_label }}" class="col-sm-2 form-control-label">{% trans "sugar_content" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ wine_form.sugar_content.html_name }}" value="{{ wine_form.sugar_content.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ wine_form.acidity.id_for_label }}" class="col-sm-2 form-control-label">{% trans "wine_acidity" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ wine_form.acidity.html_name }}" value="{{ wine_form.acidity.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ wine_form.alcohol.id_for_label }}" class="col-sm-2 form-control-label">{% trans "wine_alcohol" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ wine_form.alcohol.html_name }}" value="{{ wine_form.alcohol.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ wine_form.locality.id_for_label }}" class="col-sm-2 form-control-label">{% trans "wine_locality" %}</label>
        <div class="col-sm-10">
            <input class="form-control" name="{{ wine_form.locality.html_name }}" value="{{ wine_form.locality.value }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ wine_form.serving.id_for_label }}" class="col-sm-2 form-control-label">{% trans "wine_serving" %}</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="{{ wine_form.serving.html_name }}">{{ wine_form.serving.value }}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.description.id_for_label }}" class="col-sm-2 form-control-label">{% trans "product_description" %}</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="{{ product_form.description.html_name }}">{{ product_form.description.value }}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ product_form.is_wine.id_for_label }}" class="col-sm-2 form-control-label">{% trans "is_wine" %}</label>
        <div class="col-sm-10">
            {{ product_form.is_wine }}
        </div>
    </div>

    <div class="form-group row">
        <label for="photo_upload" class="col-sm-2 form-control-label">{% trans "product_photo" %}</label>
        <div class="col-sm-10">
             <input type="file" id="photo_upload" name="photo_upload">
        </div>
    </div>

    {% for error in field.errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}



    <!--table class="table">
        <thead>
        <tr>
           <th class="col-md-12">{*% trans "wine_awards" %*}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        {*% for award in wine.awards.all %*}
            <td>{*{ award.name }*}</td>
            {*% if award.photo %*}
            <td>{*{ award.photo.title }*}</td>
            {*% endif %*}
        {*% endfor %*}
        <input type="file" id="award_upload" name="award_upload">
        </tr>
        </tbody>
    </table-->

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}


    {{ product_form.is_new }}

    <div class="form-group row">
        <div class="col-sm-offset-10 col-sm-2">
          <a href="{% url 'list_products' %}"><button class="btn btn-danger">{% trans "back" %}</button></a>
          <button type="submit" class="btn btn btn-primary">{% trans "save" %}</button>
        </div>
    </div>
</form>

{% endblock %}