{% extends "index.html" %}

{% block content %}
{% load i18n %}

<table class="table">
    <thead>
    <tr>
        <th class="col-md-2">{% trans "product_code" %}</th>
        <th class="col-md-2"> {% trans "product_origin_name" %}</th>
        <th class="col-md-2"> {% trans "product_name" %}</th>
        <th class="col-md-2"> {% trans "product_price" %}</th>
        <th class="col-md-2"> {% trans "product_size" %}</th>
        <th class="col-md-2"> {% trans "product_import_date" %}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.origin_name }}</td>
        <td>{{ product_form.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.size }}</td>
        <td>{{ product.import_date }}</td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th class="col-md-2"> {% trans "product_active" %}</th>
        <th class="col-md-4"> {% trans "product_group" %}</th>
        <th class="col-md-6"> {% trans "product_description" %}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ product.active }}</td>
        <td>
           {% if product.group %}
                {{ product.group.name }}
           {% endif %}
        </td>
        <td>{{ product.description }}</td>
     </tr>
    </tbody>
</table>


<table class="table">
    <tbody>
    <tr>
       {% if product.photos %}
            {% for photo in product.photos.all %}
                <td>{{ photo.title }}</td>
            {% endfor %}
       {% endif %}
    </tr>
    </tbody>
</table>

{% if product.is_wine %}
    <table class="table">
        <thead>
        <tr>
           <th class="col-md-2">{% trans "wine_color" %}</th>
           <th class="col-md-2">{% trans "wine_year" %}</th>
           <th class="col-md-2">{% trans "wine_attribute" %}</th>
           <th class="col-md-1">{% trans "wine_sugar_residual" %}</th>
           <th class="col-md-1">{% trans "wine_acidity" %}</th>
           <th class="col-md-2">{% trans "wine_locality" %}</th>
           <th class="col-md-2">{% trans "wine_serving" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
           <td>{{ wine.color }}</td>
           <td>{{ wine.year }}</td>
           <td>{{ wine.attribute }}</td>
           <td>{{ wine.sugar_residual }}</td>
           <td>{{ wine.acidity }}</td>
           <td>{{ wine.locality }}</td>
           <td>{{ wine.serving }}</td>
        </tr>
        </tbody>
    </table>

    {% if wine.awards.size > 0 %}
    <table class="table">
        <thead>
        <tr>
           <th class="col-md-12">{% trans "wine_awards" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        {% for award in wine.awards.all %}
            <td>{{ award.name }}</td>
            {% if award.photo %}
            <td>{{ award.photo.title }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        </tbody>
    </table>
    {% endif %}

{% endif %}



<a href="{% url 'list_products' %}">{% trans "back" %}</a>

{% endblock %}