<header>
        <div>
            <img ng-click="backToList()" class="back-button" src="img/back-button.svg" alt="Go back">
        </div>

        <div>
        <img class="logo top" src="img/kp_logo.svg">
    </div>
</header>
<div class="flex-container">
    <section class="column">
        <div class="serving">
                <h1 class="wine-name">{{ product.name }} </h1>
        </div>
    </section>

    <section class="column" ng-show="product.is_wine">
        <div class="lrow">
            <div class="serving">
                <p class="text white"><span>Ročník: </span>{{ product.wine.year }}</p>
                <p class="text white">
                    <span translate="ATTRIBUTE"></span> : {{ product.wine.attribute | translate }}
                    <span translate="TERRIOR"></span> : {{ product.wine.locality }}</p>
            </div>
            <div class="flexi-row">
                <div class="description flex-item-row">
                    <p class="text gray">{{ product.description }} </p>
                </div>

                <div class="bottle flex-item-row">
                    <img class="bottle-img flex-item-row" src="img/04ZB2013.png">
                </div>
            </div>
        
        <div class="serving">
            <p class="text white"><span translate="SERVING"></span> : </p>
            <p class="text white">{{ product.wine.serving }}</p>
        </div>
        </div>
        <div class="rrow bottle-bg">
           <!-- <div class="bottle">
                <img class="bottle-img" src="img/04ZB2013.png">
            </div>-->
        </div>
    </section>

    <section class="content" ng-show="product.is_wine">
        <div class="awards">
            <ul>
                <li class="award flex-item-row" ng-repeat="award in product.wine.awards">
                    <p class="text gray"> {{ award.name }}</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="content flexi-row spacing" ng-show="product.is_wine">

        <div class="serving flex-item-row even-box">
            <p class="text white"><span>Alkohol:</span></p>
            <p class="text white">{{ product.wine.alcohol }} %</p>
        </div>
        <div class="serving flex-item-row even-box">
            <p class="text white"><span>Objem:</span></p>
            <p class="text white">{{ product.amount }}  l</p>
        </div>
        <div class="serving flex-item-row even-box">
            <p class="text white"><span>Cukornatost:</span></p>
            <p class="text white">{{ product.wine.sugar_content }}</p>
        </div>
        <div class="serving flex-item-row even-box">
            <p class="text white"><span>Zvyskovy cukor:</span></p>
            <p class="text white">{{ product.wine.sugar_residual | translate }}</p>
        </div>
        <div class="serving flex-item-row even-box">
            <p class="text white"><span>Kyslost:</span></p>
            <p class="text white">{{ product.wine.acidity }}</p>
        </div>
    </section>
    <section class="content flexi-row spacing">
        <div class="serving even-box">
            <p class="text white list-wine-price"><span>Cena:</span></p>
            <p class="text white list-wine-value">{{ product.price }}  €</p>
        </div>
    </section>
</div>