<header class="header-container wrapper clearfix image-background {{ image_background }}" >
    <div>
        <img ng-click="backToList()" class="back-button" src="img/back-button.svg" alt="Go back">      
    </div>
    <div>
        <img class="logo big" src="img/kp_logo.svg" alt="Karpatská perla">
    </div>
    <h1 class="title">{{ title | translate }}</h1>
</header>

<section class="main-container fix">
    <div class="main wrapper clearfix">
        <ul class="list-wine">
            <li ng-repeat="p in products">
                <div class="list-wine-item">
                    <div class="list-wine-bottle" ng-click="showDetail(p.id)">
                        <img class="wine-img" src="img/04ZB2013.png">
                    </div>
                    <div class="list-wine-description" ng-click="showDetail(p.id)">
                        <h3 class="list-wine-name">{{ p.name }}</h3>
                        <p class="list-wine-year"><span>Ročník: </span>2013</p>
                        <p class="list-wine-type"><span>Klasifikácia: </span>Víno s chráneným označením pôvodu, neskorý zber, biele, suché</p>
                    </div>
                    <div class="list-wine-price" ng-click="showDetail(p.id)">
                        <p class="list-wine-value">{{ p.price }} €</p>
                    </div>
                    <div class="list-wine-action">
                        <button ng-click="addToCart(p.id, p.name)"> + </button>
						<button ng-click="removeFromCart(p.id)"> - </button>
						<span>{{ items[p.id][0] | default:0 }}</span>
                    </div>
                </div>
            </li>
 
        </ul>

    	<ng-include src="'cart.html'"></ng-include> <!-- #shopping cart include -->

    </div> <!-- #main -->
</section> <!-- #main-container -->

	