
/* angular needs */
.center{
  text-align: center;
}

.language{
  font-family: 'ScalaSansRegular';
  src: url('../swift_data/source/fonts/scalasanspro-regular-ScalaSansRegular.eot');
  src: url('../swift_data/source/fonts/scalasanspro-regular-ScalaSansRegular.eot?#iefix') format('embedded-opentype'), url('/swift_data/source/fonts/scalasanspro-regular-ScalaSansRegular.woff') format('woff'), url('/swift_data/source/fonts/scalasanspro-regular-ScalaSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  position:absolute;
  right:10px;
  top:10px;
  color: white;
}
.language a:link {color: white;  text-decoration: none;}
.language a:visited {color: white;  text-decoration: none;}
.language a:hover {color: #b3d4fc; text-decoration: underline;}
.language a:active {color: #b3d4fc; text-decoration: underline;}

.shopping-cart{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.shopping-cart .button{
  float:left;
}

.shopping-cart .product-list{
  clear: both;
  width: 75%;
  margin: auto;
}

.shopping-cart .product-list .name{
  width: 95%;
}

.shopping-cart .product-list .amount{
  width: 5%;
}

.shopping-cart .product-list .product-form{
  margin: auto;
}

.logout{
  width:16px;
}

.loginScreen{
  width:300px; margin: auto;
}

.list-wine-action{
  float: right;
  top:-50px;
  position: relative;
}

.button-action{
  width:20px;
  color:black;
}

.amount-info{
  color:black;
}