<header>
        <div>
            <img ng-click="backToList()" class="back-button" src="/static/frontend/img/back-button.png" alt="Go back">
        </div>

        <div>
        <img class="logo top" src="/static/frontend/img/kp_logo.png">
    </div>
</header>
<div class="flex-container">
    <section class="column">
        <div class="serving">
                <h1 class="wine-name">{{ product.name }} </h1>
        </div>
    </section>

    <section class="column" ng-show="product.is_wine">
        <div class="lrow">
            <div class="serving">
                <p class="text white"><span translate="YEAR">: </span> {{ product.wine.year }}</p>
                <p class="text white">
                    <span translate="CLASSIFICATION"></span> :
                    {{ product.wine.locality }} &nbsp;
                    {{ product.wine.attribute | translate | lowercase }} &nbsp;
                    {{ product.wine.color | translate | lowercase}}
                </p>
            </div>
            <div class="flexi-row">
                <div class="description flex-item-row">
                    <p class="text gray">{{ product.description }} </p>
                </div>

                <div class="bottle flex-item-row">
                    <!--img ng-repeat="photo in product.photos"
                         class="bottle-img flex-item-row" src="/static/frontend/img/04ZB2013.png"-->
                    <img class="bottle-img flex-item-row" src="{{ product.photos.blob }}">
                </div>
            </div>
        
        <div class="serving">
            <p class="text white"><span translate="SERVING"></span> : </p>
            <p class="text white">{{ product.wine.serving }}</p>
        </div>
        </div>
        <div class="rrow bottle-bg">
           <!-- <div class="bottle">
                <img class="bottle-img" src="img/04ZB2013.png">
            </div>-->
        </div>
    </section>

    <section class="content" ng-show="product.is_wine">
        <div class="awards">
            <ul>
                <li class="award flex-item-row" ng-repeat="award in product.wine.awards">
                    <p class="text gray"> {{ award.name }}</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="content flexi-row spacing" ng-show="product.is_wine">

        <div class="serving flex-item-row even-box">
            <p class="text white"><span translate="ALCOHOL">Alkohol:</span></p>
            <p class="text white">{{ product.wine.alcohol }} %</p>
        </div>
        <div class="serving flex-item-row even-box">
            <p class="text white"><span translate="VOLUME">Objem:</span></p>
            <p class="text white">{{ product.amount }}  l</p>
        </div>
        <div class="serving flex-item-row even-box">
            <p class="text white"><span translate="SUGAR_CONTENT">Cukornatost:</span></p>
            <p class="text white">{{ product.wine.sugar_content }}</p>
        </div>
        <div class="serving flex-item-row even-box">
            <p class="text white"><span translate="SUGAR_RESIDUAL">Zvyskovy cukor:</span></p>
            <p class="text white">{{ product.wine.sugar_residual | translate }}</p>
        </div>
        <div class="serving flex-item-row even-box">
            <p class="text white"><span translate="ACIDITY">Kyslost:</span></p>
            <p class="text white">{{ product.wine.acidity }}</p>
        </div>
    </section>
    <section class="content flexi-row spacing">
        <div class="serving even-box">
            <p class="text white list-wine-price"><span translate="PRICE">Cena:</span></p>
            <p class="text white list-wine-value">{{ product.price }} €</p>
        </div>
    </section>
</div>