<header class="image-background {{ image_background }}" >
    <div>
        <img ng-click="backToList()" class="back-button" src="/static/frontend/img/back-button.png" alt="Go back">
    </div>
    <div>
        <img class="logo big" src="/static/frontend/img/kp_logo.png" alt="Karpatská perla">
    </div>
    <h1 class="title">{{ title | translate }}</h1>
</header>


<section class="main-container fix">
    
        <ul class="list-wine-new">            
            
            <li ng-repeat="p in products" ng-click="showDetail(p.id)" class="list-wine-item-new">
                <div class="bottle-card">
                    <div class="bottle-pic">
                        <img src="{{ p.photos.blob }}"> <!-- Obrazok vina -->
                    </div>
                    <div class="bottle-info">
                        <span class="bottle-info-name">{{ p.name }}</span>
                        <span class="bottle-info-year"><span translate="YEAR" class="bottle-info-title"></span>: {{ p.wine.year }}</span>
  
                        <span class="bottle-info-info">
                            <span translate="CLASSIFICATION" class="bottle-info-title-2"></span>: 
                            {{ p.wine.locality }} &nbsp;
                            {{ p.wine.attribute | translate | lowercase }} &nbsp;
                            {{ p.wine.color | translate | lowercase}} &nbsp;
                            {{ p.wine.sugar_residual | translate | lowercase}}
                        </span>
                    </div>
                    <div class="price-tag">
                        <span class="bottle-info-price">{{ p.price }} €</span>
                    </div>
                </div>
            </li>






            <li ng-show="products.length==0">
                <div class="list-wine-item">
                <p class="list-wine-type center" translate="EMPTY"></p></div>
            </li> 
        </ul>

        <!-- zatial sa nepouziva -->
    	<!--ng-include src="'cart.html'"></ng-include--> <!-- #shopping cart include -->


</section> <!-- #main-container -->

	
