<header>
    <div>
        <img ng-click="backToList()" class="back-button" src="/static/frontend/img/back-button.png" alt="Go back">
    </div>

    <div>
        <img class="logo top" src="/static/frontend/img/kp_logo.png">
    </div>
</header>
<div class="flex-container">

    <section class="section-info-row section-info-title">
        <h1 class="wine-name">{{ product.name }}</h1>
    </section>

































    <section class="" ng-show="product.is_wine">
        <div class="main-info-box">
            <div class="main-info-box-content">
                <p class="text white"><span>Ročník: </span>{{ product.wine.year }}</p>
                <p class="text white">
                    <span translate="CLASSIFICATION"></span> :
                    {{ product.wine.locality }} &nbsp;
                    {{ product.wine.attribute | translate | lowercase }} &nbsp;
                    {{ product.wine.color | translate | lowercase}} &nbsp;
                    {{ product.description }}
                </p>
            </div>
            <div class="main-info-box-image-box">
                <img class="main-info-box-image" src="{{ product.photos.blob }}">
            </div>
            
        </div>



        <div class="serving-info">
            <p class="serving-info-content white"><span translate="SERVING"></span> : </p>
            <p class="serving-info-content white">{{ product.wine.serving }}</p>
        </div>
    </section>



















    <section class="section-info-row section-info-awards" ng-show="product.awards">
        <div class="awards">
            <ul>
                <li class="award flex-item-row" ng-repeat="award in product.awards">
                    <p class="text gray"> {{ award.name }}</p>
                    <img style="height:50px" src="{{ award.photo.blob }}">
                </li>
            </ul>
        </div>
    </section>






























    <section class="section-info-sum section-info-row" ng-show="product.is_wine">
        <div class="info-sum-box">
            <p class="text white"><span translate="ALCOHOL"></span></p>
            <p class="text white">{{ product.wine.alcohol }} %</p>
        </div>
        <div class="info-sum-box">
            <p class="text white"><span translate="VOLUME"></span></p>
            <p class="text white">{{ product.amount }}  l</p>
        </div>
        <div class="info-sum-box">
            <p class="text white"><span translate="SUGAR_CONTENT"></span></p>
            <p class="text white">{{ product.wine.sugar_content }}</p>
        </div>
        <div class="info-sum-box">
            <p class="text white"><span translate="SUGAR_RESIDUAL"></span></p>
            <p class="text white">{{ product.wine.sugar_residual | translate }}</p>
        </div>
        <div class="info-sum-box">
            <p class="text white"><span translate="ACIDITY"></span></p>
            <p class="text white">{{ product.wine.acidity }}</p>
        </div>
    </section>

    <section class="section-info-row section-info-price">
        <div class="info-price-box">
            <p class="section-info-box-title"><span translate="PRICE"></span></p>
            <p class="section-info-box-content">{{ product.price }} € <small>   ({{ product.unit_price }} €)</small></p>
        </div>
    </section>
</div>
