<header class="page-header" xmlns:background-url="http://www.w3.org/1999/xhtml">
    <div>
        <img class="logo big" src="/static/frontend/img/kp_logo.png" alt="Karpatská perla">
    </div>
    <h1 class="title" translate="WINE_CART"></h1>
    <div class="language">
        <a ng-click="changeLanguage('en')">en</a>
        <a ng-click="changeLanguage('sk')">sk</a>
        <a ng-click="logout()" alt="{% trans 'logout' %}"><img class="logout" src="/static/frontend/img/logout.png"></a>
    </div>
</header>

<div class="main main-body">
    <ul>
         <li ng-repeat="g in groups" class="horizontal biele" id="{{ g.name }}" ng-style="background('{{g.image.blob}}')">
            <a href="#/{{ g.name }}">
                <div class="card-inner">
                    <h2 class="category" translate="{{ g.name }}"></h2>
                </div>
            </a>
        </li>
    </ul>
</div>
