<div class="header-container">
    <header class="wrapper clearfix">
        <div>
            <img class="logo big" src="/static/frontend/img/kp_logo.png" alt="Karpatská perla">
        </div>
        <h1 class="title" translate="WINE_CART"></h1>
        <div class="language">
            <a ng-click="changeLanguage('en')">en</a>
            <a ng-click="changeLanguage('sk')">sk</a></div>
    </header>
</div>

<div class="main-container">
    <div class="main hor wrapper clearfix">
        <ul>
            <a href="#/cart/white">
            <li class="horizontal">
                <div class="card-inner biele">
                    <h2 class="category" translate="white"></h2>
                </div>
            </li>
            </a>
            <a href="#/cart/red">
            <li class="horizontal">
                <div class="card-inner cervene">
                    <h2 class="category" translate="red"></h2>
                </div>
            </li>
            </a>
            <a href="#/cart/rose">
            <li class="horizontal">
                <div class="card-inner rose">
                    <h2 class="category" translate="rose"></h2>
                </div>
            </li>
            <a href="#/cart/sweet">
            <li class="horizontal">
                <div class="card-inner sladke">
                    <h2 class="category" translate="sweet"></h2>
                </div>
            </li>
            </a>
            <a href="#/cart/white_archive">
            <li class="horizontal">
                <div class="card-inner biele-arch">
                    <h2 class="category" translate="white_archive"></h2>
                </div>
            </li>
            </a>
            <a href="#/cart/red_archive">
            <li class="horizontal">
                <div class="card-inner cervene-arch">
                    <h2 class="category" translate="red_archive"> </h2>
                </div>
            </li>            
            </a>
            <a href="#/cart/nealko">
            <li class="horizontal">
                <div class="card-inner nealko">
                    <h2 class="category" translate="nealko"></h2>
                </div>
            </li>
            </a>
            <a href="#/cart/sweets">
            <li class="horizontal fixed">
                <div class="card-inner pochutiny">
                    <h2 class="category" translate="sweets"></h2>
                </div>
            </li>
            </a>
        </ul>
    </div> <!-- #main -->
</div> <!-- #main-container -->